*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background:cadetblue;
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.container{
    position: absolute;
    height: 500px;
    width: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    .main{
        position: absolute;
        top: 28.9%;
        left: 10.3%;
        transform: translate(-50%,-50%);
        height: 200px;
        width: 200px;
        .second{
            position: absolute;
            height: 95%;
            width: 3px;
            @include center;
            z-index: -1;
        }
        .hour{
            position:absolute;
            height: 80%;
            width: 11px;
            @include center;
            z-index: -3;
            top: 15px;
            left: -3.5px;
        }
        .minute{
            position:absolute;
            height: 90%;
            width: 6px;
            transform:rotate(20deg);
            @include center;
            z-index: -2;
            top: 5px;
            left: -1px;
        }
        .one{
            height: 50%;
            width: 100%;
        }
        .two{
            height: 50%;
            width: 100%;
            background: black;
            border-radius: 90%;
        }
    }
}

.h1{
    width: 250px;
    padding: 5px;
    background: #f1f1f1;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin: 30px auto;
}